[submodule "config/.config/base16-shell"]
	path = config/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "config/.config/nvim"]
	path = config/.config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
